main {
    width: 260px;
    display: flex;
    flex-wrap: wrap;
}

div {
    width: 20px;
    height: 20px;
    display: flex;
}

.wall {
    background-image: url("./assets/textures/stone.png");
    background-size: contain;
}

.path {
    background-image: url("./assets/textures/mountainRock.png");
}

.origin {
    background-image: url("./assets/textures/mountainRock.png");
}

.character {
    background-color: tomato;
    border-radius: 50%;
}

.end {
    background-image: url("./assets/textures/mountainRock.png");
}

.lostArk {
    background-color: yellow;
    border-radius: 50%;
}