main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} 

.lineDiv{
    display: flex;
}

.wall {
    width: 20px;
    height: 20px;
    background-image: url("./assets/textures/IndianaJones/stone.png");
    background-size: contain;
}

.path {
    width: 20px;
    height: 20px;
    background-image: url("./assets/textures/IndianaJones/mountainRock.png");
    background-size: contain;
}

.start {
    width: 20px;
    height: 20px;
    background-image: url("./assets/textures/IndianaJones/mountainRock.png");
    background-size: contain;
}

.character {
    background-image: url("./assets/textures/IndianaJones/indianaJones.png");
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
}

.end {
    background-image: url("./assets/textures/IndianaJones/mountainRock.png");
    background-size: contain;
    width: 20px;
    height: 20px;
}

.lostArk {
    background-image: url("./assets/textures/IndianaJones/lostArk.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
}